<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UI/about.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,242},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/about1.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,325},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/closebt.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,338},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/closebt_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,421},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,242},{172,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,83}</string>
			</dict>
			<key>UI/confirm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,626},{172,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,83}</string>
			</dict>
			<key>UI/gameStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{410,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,143}</string>
			</dict>
			<key>UI/gameStart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,723},{410,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,143}</string>
			</dict>
			<key>UI/GO.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,580},{303,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,133}</string>
			</dict>
			<key>UI/GO1.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,709},{303,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,133}</string>
			</dict>
			<key>UI/logo_tank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{730,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{730,317}</string>
			</dict>
			<key>UI/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,434},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/next1.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,517},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/retry.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,530},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/retry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,613},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/return.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,713},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/return1.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,713},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/return11.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,713},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/return12.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,809},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/sfxmusicclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,0},{287,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,121}</string>
			</dict>
			<key>UI/sfxmusicopen.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,121},{287,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,121}</string>
			</dict>
			<key>UI/sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,809},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/sound1.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,809},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>UI/toast2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,325},{780,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,255}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui01.png</string>
			<key>realTextureFileName</key>
			<string>ui01.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>